.table-pagination {
  display: flex;
  align-items: center;

  &__button {
    @include blue-button;

    &--disabled {
      background-color: #aeb6bf;

      &:hover {
        background-color: #aeb6bf;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    margin-left: 7rem;
    margin-right: 7rem;
    padding-bottom: 5rem;

    border-bottom: 2rem solid #34495e;
  }

  &__input {
    width: 50rem;
    margin: 0;
    padding: 0;

    text-align: right;
    color: #34495e;

    border: none;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__total {
    width: 50rem;

    font-size: 14rem;
    line-height: 27rem;
    color: #34495e;
  }
}
