.table-col {
  border: 2rem solid #abb2b9;

  padding-left: 10rem;
  padding-right: 10rem;

  &__name {
    font-size: 14rem;
    line-height: 27rem;
    font-weight: 300;
    color: #2c3e50;
  }
}

.table-row {
  padding-top: 7rem;
  padding-bottom: 7rem;

  cursor: pointer;

  &:hover {
    background-color: #eaecee;
  }
}
